# Compiled binaries and object files
*.o
*.obj
*.exe
a.out
*.lib
*.dll
*.so

# Debugging and build-related files
*.dSYM/
*.su
*.idb
*.pdb
*.log
*.tmp
*.bak
*.swp
build/ # Or any other designated build output directory

# Editor and IDE specific files
.vscode/
.idea/
*.iml
*.DS_Store
Thumbs.db

# Kernel module specific files (if applicable)
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old